<?xml version="1.0" encoding="utf-8"?>
<widget id="mobile.hw" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>HelloWorld</name>
  <description>HelloWorld</description>
  <author email="wuhuihao@qq.com" href="weibo.com/huihaojz">Simon Chang</author>
  <!-- plugin -->
  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.network-information" />
  <gap:plugin name="org.apache.cordova.dialogs" />
  <gap:plugin name="org.apache.cordova.vibration" />
  <gap:plugin name="com.phonegap.plugins.barcodescanner" />
  <!-- Permission -->
  <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="http://api.phonegap.com/1.0/network" />
  <feature name="http://api.phonegap.com/1.0/notification" />
  <!-- Common -->
  <preference name="phonegap-version" value="3.1.0" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <!-- iOS -->
  <preference name="target-device" value="universal" />
  <preference name="ios-statusbarstyle" value="black-opaque" />
  <preference name="detect-data-types" value="false" />
  <preference name="exit-on-suspend" value="true" />
  <!-- Android -->
  <preference name="android-minSdkVersion" value="8" />
  <preference name="android-targetSdkVersion" value="11" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
  <preference name="splash-screen-duration" value="4000" />
  <!-- Icon -->
  <icon src="res/icon/icon.png" />
  <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-36-ldpi.png" />
  <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-48-mdpi.png" />
  <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-72-hdpi.png" />
  <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-96-xhdpi.png" />
  <!-- Access -->
  <access origin="*" />
  <!-- Build -->
  <gap:platform name="android" />
</widget>